<div class="card" style="width: 800px;">
    <div class="card-header">
        <div class="row">
            <nav class="nav">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
                <a class="nav-link" href="/chartline">Chart Line</a>
                <a class="nav-link" href="/chartlinetime">Chart Time</a>
                <a class="nav-link disabled">Multi Lines</a>
              </nav>
        </div>
    </div>
    <div class="card-body">
        <router-outlet></router-outlet>
    </div>
</div>